@font-face {
  font-family: '20451FONT';
  src: url('../../../fonts/20451.ttf');
}

.main {
  display: grid;
  grid-template-columns: 2fr repeat(31, 1fr);
  border-bottom: 3.5px solid #161616;
  font-size: 15px;
  margin-top: 5px;
  /* margin-bottom: 5px; */

  height: 30px;
  
}

.main input {
  height: 30px;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
}

.main p {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-family: '20451FONT';
  font-size: 18px;
  font-weight: bold;
}

.cell {
  border-left: 2.5px dotted #161616;
}