.main {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
}

.habitLine {
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  background-color: #e8e8e8;

  display: grid;
  grid-template-columns: 1fr;
}
