@font-face {
  font-family: '20451FONT';
  src: url('../../../fonts/20451.ttf');
}


.main {
  display: grid;
  grid-template-columns: 2fr repeat(31, 1fr);
  border-right: 2.5px dotted #161616;
  border-left: 2.5px dotted #161616;
  border-bottom: 2.5px dotted #161616;
  font-size: 15px;


  height: 30px;

  
}

.main p {
  margin-bottom: 5px;
  text-align: center;
  font-family: '20451FONT';
  font-size: 18px;
  font-weight: bold;
}
